body {
}
  .runderRand {
        border: solid 1px;
        margin: 0px;
        margin-top: 10px;
        padding: 10px;
        height: 300px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
    }

/* PRODUCT PORTFOLIO - OBERÜBERSCHRFIT - LINKS */
.topheadline_left {
    border: solid 1px;
    float: left;
    padding-right: 5px;
    color: #747D82;
}

.market {
    width: 100px;
}

.nr {
    width: 26px;
}

.ms {
    /*width: 50px;*/
}

.plusminus {
    width: 20px;
}

/* PRODUCT PORTFOLIO - OBERÜBERSCHRFIT - RECHTS */
.topheadline_right {
    float: left;
    padding-right: 5px;
    color: #747D82;
    height: 26px;
    line-height: 26px;
}