     body {
            font-family: 'Merriweather Sans',sans-serif;
            font-size: 11px;
         }
          .input_hidden {
            position: absolute;
            left: -9999px;
        }
          .sites label {
            display: inline-block;
            cursor: pointer;
            height: 20px;
        }
         .investfield {   /*für +10, 0 und X*/
            height: 15px;
            width: 20px;
            text-align: center;
            margin-left: 2px;
            margin-right: 2px;
            -moz-box-shadow: 2px 2px 4px 0px #7b7f82;
            -webkit-box-shadow: 2px 2px 4px 0px #7b7f82;
            box-shadow: 2px 2px 4px 0px #7b7f82;
            background-color: #747d82;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            border: 2px solid #ffffff;
            display: inline-block;
            color: #ffffff;
        }
         .selected {
            background-color: #a01717;
        }