@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather Sans Regular'), local('MerriweatherSans-Regular'), url(/Fonts/merriweather_sans.woff) format('woff');
}
@font-face {
	font-family: 'digital';
	src: url(digital.ttf);
}