/* Uwes
----------------------------------------------------------*/
  /*@font-face {
	        font-family: 'Conv_framd';
	        src: url('../Scripts/Font/framd.eot');
	        src: local('☺'), url('../Scripts/Font/framd.woff') format('woff'), url('../Scripts/Font/framd.ttf') format('truetype'), url('Scripts/Font/framd.svg') format('svg');
	        font-weight: normal;
	        font-style: normal;
	    }*/
/*@font-face {
	    font-family: 'Conv_framd';
	    src: url('../Scripts/Font2/franklin_gothic_medium__2_.eot');
	    src: local('☺'), url('../Scripts/Font2/franklin_gothic_medium__2_.woff') format('woff'), url('../Scripts/Font2/franklin_gothic_medium__2_.ttf') format('truetype'), url('Scripts/Font2/franklin_gothic_medium__2_.svg') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}*/
body {
    /*font-family: 'Conv_framd';*/
    font-family: 'Merriweather Sans', sans-serif;
}

.turnfield {  /*für Marketlifetime-up and -down*/
    height: 15px;
    width: 15px;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
    -moz-box-shadow: 2px 2px 4px 0px #7b7f82;
    -webkit-box-shadow: 2px 2px 4px 0px #7b7f82;
    box-shadow: 2px 2px 4px 0px #7b7f82;
    background-color: #747d82;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 2px solid #ffffff;
    display: inline-block;
    color: #ffffff;
}

/** CHECKBOXES for selecting Investment*/
.investfield2 {

}

    .investfield {   /*für +10, 0 und X*/
            height: 15px;
            width: 20px;
            text-align: center;
            margin-left: 2px;
            margin-right: 2px;
            -moz-box-shadow: 2px 2px 4px 0px #7b7f82;
            -webkit-box-shadow: 2px 2px 4px 0px #7b7f82;
            box-shadow: 2px 2px 4px 0px #7b7f82;
            background-color: #747d82;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            border: 2px solid #ffffff;
            display: inline-block;
            color: #ffffff;
        }
        .input_hidden {
            position: absolute;
            left: -9999px;
        }
        .disabled {
            background-color:grey;
            color:darkgrey;
        }
        /*input[type="radio"]:checked+label{ background-color: red; }  geht aber nicht bei dynamischen, mehrzeiligen Radiogruppen*/ 
        /*#sites*/ .selected {
            background-color: #a01717;
        }
        #sites label {
         /*.inputs label {*/
            display: inline-block;
            cursor: pointer;
        }
        #checks label {
         /*.inputs label {*/
            display: inline-block;
            cursor: pointer;
            user-select:none
        }

        /*http://dabblet.com/gist/1506530*/
       /* input[type=checkbox]:checked ~ .investfield {
            background-color:  #a01717;
        }*/


            /*#sites label:hover {
                background-color: #efefef;
            }
/* CHECKBOXES end*/

/*für W4_infoboxes - aktuell nicht im Gebrauch
.bluebar {  
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
    background: -moz-linear-gradient( center top, #006699 5%, #00557F 100% );
    background-color: #006699;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    border-left: 1px solid #0070A8;
}
    */

/*für Controlpanel_classic*/
#table_eingabebereich_oben {  
  font-size: 12px;
  text-align: right;
}

#table_eingabebereich_oben thead tr td {
    padding-right: 5px;
    width: 80px;
}

tbody tr td {
    padding-right: 5px; 
    width: 65px;
    color: #747D82;
}
tfoot tr td {
    padding-right: 5px; 
    width: 65px;
    color: #747D82
}

#TextTabelleObenRechts {
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    font-size: 12px;
    color: #747D82;
}

.hr1 {
    border:0pt none;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
    margin-top: auto;
    margin-bottom: inherit;
	margin-left: 10px;
    margin-right: 0px;
    color: #747D82; 
    background-color: #747D82;
    height: 1px;
}

#btnNewGame {
    cursor: pointer;
}

.bluebutton {
    /*font-family: 'Conv_framd';*/

    border-style: none;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: none;
    background-color: #1F4689; /*1e4689*/
    color: #ffffff;
    display: inline-block;

    font-size: 10px;
    width: 50px;
    height: 16px;
}

.redbutton {
    /*font-family: 'Conv_framd';*/

    border-style: none;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: none;
    background-color: #a01717; /*1e4689*/
    color: #ffffff;
    display: inline-block;

    font-size: 10px;
    width: 50px;
    height: 16px;

    cursor: pointer;
}

#leftSideBar { /*ähnlich: .topic-info*/
    background-color: #f0f1f2;
    font-size: 11px;
    color: #747d82;
    border: 1px solid #747d82; 
}

.last {
       border-bottom: 1px solid #58ff00;
       width: 160px;
}


.availablegamesCells {
}
    .availablegamesCells ul {
        margin: 0px;
        padding: 5px;
        list-style: none;
    }

        .availablegamesCells ul li {
             list-style:none; 
             line-height: 1em;
             display: block;
             cursor: pointer;
        }
        
.availablegameCells group {
        margin: 0px;
        padding: 5px;
        list-style: none;
}
.availablegamesCells group item {
    list-style: none;
    line-height: 1em;
    display: block;
    cursor: pointer;
}

.availablegamesCells ul:hover {
    background-color: #cfc386;
}

.selectedScenario {
    background-color: #cfc386;
}

.activeScenario {
    font-weight: bold;
}

#placeholder { /* wie #leftSideBar*/
    background-color: #f0f1f2;
    font-size: 11px;
    color: #747d82;
}
#titelleiste {
    background-color:#f0f1f2;
    font-size: 11px; 
    color: #747d82;
}
a { 
    text-decoration:none;
     color:#747d82 ;

}

  /*
  border-style: solid; 
  border-width: 1px;
  border-top:none;
  border-bottom:none;
  border-left: none;
  */


.td {
    height: 26px;
}

.td1 {
  width: 90px;    
  /*border: solid thin;*/
}
.td2 {
    width: 30px;
    
    /*border: solid thin;*/
}
.td3 {
    width: 70px;
    text-align: right;
    /*border: solid thin;*/
}
.td4 {
    width: 30px;
    text-align: right;
}

/*NEUE STYLES FÜR CURRENT PORTFOLIO  current_products_wide*/

.cPBox_ControlPanel {
    float: left;
    width: 229px;
    
}

.cPBox {
    float: left;
    border-bottom: solid thin;
    border-color: #747d82;
    width: 229px;

    /*padding-left: 5px;*/
    font-size: 11px;
    padding-top: 3px;
    /*padding-left: 5px;
    font-size: 11px;
    padding-top: 3px;*/
}

.cPH {
    float: left;
    padding-right: 5px;
    color: #747D82;
}

.cPSubH {
  height: 26px;
  color:#747d82;  
  float: left;
  /*width: 100%; height: 100%; overflow: hidden;*/
}

.cPSubH0 {
    width: 180px;
}
.cPSubH1 {
    width: 90px;     
}
.cPDetL {
    float: left;
    padding-right: 5px;
    color: #747D82;
    height: 26px;
    line-height:26px;
}

.cPCol1 {
    width: 100px;   
}

.cPCol2 {
    width: 26px;

}
.cPCol3 {
    width: 50px;
    text-align: right;
  
}

.cPCol4 {
    width: 20px;
    text-align: right;
  
}
.cPDetR1 {
    width: 65px;
    float: left;
    text-align:right;
}

.cPControlpanelLeft {
    height: 20px;
}

.cPControlpanelRight {
    height: 20px;
    width: 65px;
    float: left;
    text-align:right;
}

/*alt*/
.SubheadlineMarket {
  width: 80px;  
}

#logo {
}

#khanacademy-top-header-container {
    background: none repeat scroll 0 0 #2C3747;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 1030;
    height: 64px;
}

.three_product_boxes {
    border: solid thin;
    border-color: #747d82;
    -moz-box-shadow: 2px 2px 4px 0px #7b7f82;
    -webkit-box-shadow: 2px 2px 4px 0px #7b7f82;
    box-shadow: 2px 2px 4px 0px #7b7f82;
    background-color: #f0f1f2;
}

.greybar {
    height: 19px;
    padding-top: 3px;
    background-color: #747d82;
    border-color: #747d82;
    color: #ffffff;
    font-size: 11px;
    text-align: center;   
}

.t {
    height: 36px;
    padding-left: 5px;
    font-size: 11px;
    padding-top: 3px;
}

.axis text {
    display: none;
}

/*
.three_product_boxes_explanationbox {
    border: solid thin;
    border-color: #747d82;
    -moz-box-shadow: 2px 2px 4px 0px #7b7f82;
    -webkit-box-shadow: 2px 2px 4px 0px #7b7f82;
    box-shadow: 2px 2px 4px 0px #7b7f82;

    margin-bottom: 5px;
    font-size: 10px;
    color: #747D82;
    padding: 5px;
}
 */